<div class="row">
  <div class="large-12 columns">


<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<div class="panel"><%=column_chart Actor.group(:last_name).joins(:contracts).sum(:sum), colors:["#9e0000"]%></div>

    <table>
      <thead>
      <tr>
        <th>Актер</th>
        <th>Заработок за все время</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% Actor.group(:last_name).joins(:contracts).sum(:sum).each do |actor| %>
          <tr>
            <td><%= actor[0] %></td>
            <td><%= actor[1] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
      </div>
    </div>