<div class="row">
  <div class="large-12 columns">
    <h1>Редактировать список наград</h1>

    <%= render 'form' %>

    <%= link_to 'Показать', @award %> |
    <%= link_to 'Назад', awards_path %>
  </div>
</div>
